[user]
	name = David Goodlad
	email = david@goodlad.net
[github]
	user = dgoodlad
[pull]
	ff = only
[push]
	default = simple
[diff]
	compactionHeuristic = true
[pager]
	log = diff-highlight | less
	show = diff-highlight | less
	diff = diff-highlight | less
[alias]
	serve = daemon --verbose --export-all --base-path=.git --reuseaddr --strict-paths .git/
[remote]
	pushDefault = origin
[http "https://gopkg.in"]
	followRedirects = true
