[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = git@github.com:dgoodlad/oh-my-zsh.git
[submodule ".vim/bundle/vim-coffee-script"]
	path = .vim/bundle/vim-coffee-script
	url = git://github.com/kchmck/vim-coffee-script.git
