[submodule "files/oh-my-zsh"]
	path = files/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "files/.zsh-syntax-highlighting"]
	path = files/.zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
