#!/usr/bin/zsh

nvidia-settings -a :0/GPULogoBrightness=0

case $DESKTOP_SESSION in
    awesome)
        xrdb -merge $HOME/.Xresources
        compton -b
        source $HOME/.zshenv
        export PATH
    ;;
    i3)
        xrdb -merge $HOME/.Xresources
        compton -b
        source $HOME/.zshenv
        export PATH
    ;;
    bspwm)
        xrdb -merge $HOME/.Xresources
        compton -b
        source $HOME/.zshenv
        export PATH
    ;;
    xfce)
        xrdb -merge $HOME/.Xresources
        compton -b
        source $HOME/.zshenv
        export PATH
    ;;
    *)
        source $HOME/.zshenv
        export PATH
    ;;
esac
