! Settings from infinality.net
Xft.autohint: 0
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintsfull
Xft.hinting: 1
Xft.antialias: 1
Xft.dpi: 96
Xft.rgba: rgb

! Dracula Xresources palette
*.foreground: #F8F8F2
*.background: #282A36
*.color0:     #000000
*.color8:     #4D4D4D
*.color1:     #FF5555
*.color9:     #FF6E67
*.color2:     #50FA7B
*.color10:    #5AF78E
*.color3:     #F1FA8C
*.color11:    #F4F99D
*.color4:     #CAA9FA
*.color12:    #CAA9FA
*.color5:     #FF79C6
*.color13:    #FF92D0
*.color6:     #8BE9FD
*.color14:    #9AEDFE
*.color7:     #BFBFBF
*.color15:    #E6E6E6

URxvt.font:              xft:Meslo LG S DZ for PowerLine:pixelsize=11,xft:Noto Emoji,xft:Deja Vu Sans:pixelsize=11
URxvt.visualBell:        True
URxvt.urgentOnBell:      True
URxvt.scrollBar:         False
URxvt.skipBuiltinGlyphs: True
URxvt.internalBorder:    1
URxvt.externalBorder:    0

! xscreensaver.Dialog.headingFont:    -*-dejavu sans-bold-r-*-*-18-*-*-*-*-*-*-*
! xscreensaver.Dialog.bodyFont:       -*-dejavu sans-medium-r-*-*-18-*-*-*-*-*-*-*
! xscreensaver.Dialog.labelFont:      -*-dejavu sans-medium-r-*-*-18-*-*-*-*-*-*-*
! xscreensaver.Dialog.unameFont:      -*-dejavu sans-medium-r-*-*-18-*-*-*-*-*-*-*
! xscreensaver.Dialog.buttonFont:     -*-dejavu sans-bold-r-*-*-18-*-*-*-*-*-*-*
! xscreensaver.Dialog.dateFont:       -*-dejavu sans-medium-r-*-*-18-*-*-*-*-*-*-*
! xscreensaver.Dialog.passwdFont:     -*-dejavu sans-bold-r-*-*-18-*-*-*-*-*-*-*
! 
! xscreensaver.Dialog.foreground: #000000
! xscreensaver.Dialog.background: #282A36
! xscreensaver.Dialog.topShadowColor: #282A36
! xscreensaver.Dialog.bottomShadowColor: #282A36
! xscreensaver.Dialog.button.foreground: #F8F8F2
! xscreensaver.Dialog.button.background: #44475A
 
! ------------------------------------------------------------------------------
! ROFI Color theme
! User: leofa
! Copyright: 2017 leofa
! ------------------------------------------------------------------------------
! "Color scheme for normal row" Set from: File
!rofi.color-normal:                   argb:0383c4a, #c4cbd4, argb:96404552, #4084d6, #f9f9f9
! "Color scheme for urgent row" Set from: File
!rofi.color-urgent:                   argb:02d303b, #cc6666, argb:e52d303b, #a54242, #f9f9f9
! "Color scheme for active row" Set from: File
!rofi.color-active:                   argb:02d303b, #b5bd68, argb:e42d303b, #8c9440, #f9f9f9
! "Color scheme window" Set from: File
!rofi.color-window:                   argb:f22d303b, #7c8389, #1d1f21
! "Separator style (none, dash, solid)" Set from: XResources
!rofi.separator-style:                solid
